/* line 7, ../sass/lightbox.sass */

body:after {
  display: none;

  content: url(../img/close.png) url(../img/close.png) url(../img/close.png) url(../img/close.png);
}

/* line 11, ../sass/lightbox.sass */

.lightboxOverlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;

  display: none;

  opacity: .8;
  background-color: black;

  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

/* line 20, ../sass/lightbox.sass */

.lightbox {
  font-weight: normal;
  line-height: 0;

  position: absolute;
  z-index: 10000;
  left: 0;

  width: 100%;

  text-align: center;
  .lb-image {
    display: block;

    height: auto;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

        -ms-border-radius: 3px;
         -o-border-radius: 3px;
  }
  a img {
    border: none;
  }
}

/* line 28, ../sass/lightbox.sass */

/* line 32, ../sass/lightbox.sass */

/* line 35, ../sass/lightbox.sass */

.lb-outerContainer {
  position: relative;

  width: 250px;
  height: 250px;
  margin: 0 auto;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: white;

  *zoom: 1;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */

/* line 44, ../sass/lightbox.sass */

.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */

.lb-loader {
  line-height: 0;

  position: absolute;
  top: 43%;
  left: 0;

  width: 100%;
  height: 25%;

  text-align: center;
}

/* line 56, ../sass/lightbox.sass */

.lb-cancel {
  display: block;

  width: 32px;
  height: 32px;
  margin: 0 auto;

  background: url(../img/close.png) no-repeat;
}

/* line 63, ../sass/lightbox.sass */

.lb-nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* line 71, ../sass/lightbox.sass */

.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */

.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */

.lb-prev,
.lb-next {
  /* Trick IE into showing hover */
  display: block;

  width: 49%;
  height: 100%;

  cursor: pointer;
}

/* line 84, ../sass/lightbox.sass */

.lb-prev {
  left: 0;

  float: left;
  &:hover {
    background: url(../img/close.png) left 48% no-repeat;
  }
}

/* line 87, ../sass/lightbox.sass */

/* line 90, ../sass/lightbox.sass */

.lb-next {
  right: 0;

  float: right;
  &:hover {
    background: url(../img/close.png) right 48% no-repeat;
  }
}

/* line 93, ../sass/lightbox.sass */

/* line 96, ../sass/lightbox.sass */

.lb-dataContainer {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;

  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;

  *zoom: 1;
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */

/* line 103, ../sass/lightbox.sass */

.lb-data {
  padding: 0 4px;

  color: #bbb;
  .lb-details {
    line-height: 1.1em;

    float: left;

    width: 85%;

    text-align: left;
  }
  .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
  }
  .lb-number {
    font-size: 12px;

    display: block;
    clear: left;

    padding-bottom: 1em;

    color: #999;
  }
  .lb-close {
    display: block;
    float: right;

    width: 30px;
    height: 30px;

    text-align: right;

    opacity: .7;
    outline: none;
    background: url(../img/close.png) top right no-repeat;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    &:hover {
      cursor: pointer;

      opacity: 1;

      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }
  }
}

/* line 106, ../sass/lightbox.sass */

/* line 111, ../sass/lightbox.sass */

/* line 115, ../sass/lightbox.sass */

/* line 121, ../sass/lightbox.sass */

/* line 130, ../sass/lightbox.sass */
