@font-face {
  font-family: 'PT Sans';

  src: url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular);
  src: local('PT Sans'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('woff'),url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('truetype'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;

  src: url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular);
  src: local('PT Sans Italic'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('woff'),url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('truetype'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: normal;

  src: url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular);
  src: local('PT Sans Bold'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('woff'),url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('truetype'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: italic;

  src: url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular);
  src: local('PT Sans Bold Italic'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('woff'),url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('truetype'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('svg');
}
@font-face {
  font-family: 'PT Sans Narrow';

  src: url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular);
  src: local('PT Sans Narrow'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('woff'),url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('truetype'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('svg');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;

  src: url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular);
  src: local('PT Sans Narrow Bold'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('woff'),url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('truetype'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('svg');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  /*font-weight: 400;*/

  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('woff');
}
@font-face {
  font-family: 'PFDinTextCondProRegular';

  src: url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('embedded-opentype'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('woff'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('truetype'), url(../fonts/pfdintextcondpro-regular.svg#PFDinTextCondProRegular) format('svg');
}
