.obsudit_but1 {
  font-family: PFDinTextCondProRegular;
  font-size: 19px;
  line-height: 19px;

  position: relative;

  width: 265px;
  padding: 13px 0 11px 0;

  cursor: pointer;
  text-align: center;

  border: 0;
  background: #fc0;
  &:hover {
    background: #ffd323;
  }
  &:active {
    top: 1px;
  }
}

.obsudit_inp1 {
  font-size: 20px;
  line-height: 20px;

  width: 390px;
  padding: 10px;

  color: #000;
  border: 2px #ccc solid;
  border-radius: 1px;
  background: #fff;
}
