#stela_index *{
	font-family:PFDinTextCondProRegular;
}
#stela_index  .zagol{
	font-size:26px;line-height:26px;color:#000;-height:26px;
	text-transform:uppercase;
}
#stela_index .cat_list{
	margin-top:25px;
	text-align:center;
}
#stela_index .cat_list .cont{
	display:inline-block;
}
#stela_index .block{
	position:relative;
	float:left;
	margin-left:9px;
	width:130px;
	padding:11px 0 9px 0;
	background:transparent;
	border:1px #000 solid;
	text-align:center;
	font-size:20px;line-height:20px;color:#000;text-transform:uppercase;
	cursor:pointer;
}
#stela_index .block:first-child{
	margin-left:0px;
}
#stela_index .block#act{
	border:1px transparent solid;
	background:#e2e2e2;
	-webkit-box-shadow:inset 4px 3px 15px 2px rgba(0,0,0,0.75);
	-moz-box-shadow:inset 4px 3px 15px 2px rgba(0,0,0,0.75);
	box-shadow:inset 1px 1px 6px 0px rgba(0,0,0,0.60);
}
#stela_index .block#act::after{
	content:'';
	position:absolute;left:50%;bottom:-10px;
	margin-left:-10px;
	width:20px;height:15px;
	background:url(pip.png) no-repeat;
}
#stela_index .block .data{
	display:none;
}
#stela_index .block .bg{
	display:none;
}

#stela_index .data_viev{
	margin-top:20px;
}
#stela_index .data_viev table{
	width:100%;
}
#stela_index .data_viev table tbody tr:hover td{
	background: #cdcdcd;
}
#stela_index .data_viev table td{
	vertical-align:top;
	padding:9px 5px 7px 5px;
	border-bottom:1px #c4c4c4 solid;
	font-size:18px;line-height:1em;
}
#stela_index .data_viev thead td{
	font-size:18px;color:#737373;
	vertical-align:bottom;
}
#stela_index .data_viev tbody td{
	font-size:25px;color:#000;
}
#stela_index .data_viev td:nth-child(1){
	width:200px;
	text-align:left;
}

#stela_index .data_viev .text1{
	margin-top:20px;
	font-size:19px;line-height:22px;color:#000;
}
#stela_index .data_viev .link{
	font-size:25px;color:#000;
	text-decoration:underline;
}
#stela_index .data_viev .link:hover{
	text-decoration:none;
	color:#494d50;
}

/*
#stela_index .block#act::after{
	content:'';
	position:absolute;left:50%;bottom: -20px;
	margin-left:-10px;
	border:10px solid transparent;
    border-top:10px #e2e2e2 solid;	
}
*/
