html,body{color:#0f0f0f;font-size:16px;text-decoration:none;line-height:1.4em;background:#ffffff;height:100%;margin:0 auto;padding:0;margin-left:auto;margin-right:auto;}
*{margin:0px;padding:0px;outline:0px;}
img{border:0px;}
button{padding:0px 5px;}

a{color:#00a8cc;text-decoration:underline;}
a:hover{color:#1087a1;text-decoration:none;}

a.none:link, a.none:visited{text-decoration:none;}
a.none:active{text-decoration:none;}
a.none:hover{text-decoration:none;}

h1{color:#252525;font-size:26px;font-weight:bold;line-height:1.1em;text-transform:uppercase;font-family: pfdintextcondproregular;}
h2{color:#252525;font-size:20px;font-weight:bold;line-height:1.1em;text-transform:uppercase;font-family: pfdintextcondproregular;}
h3{color:#252525;font-size:16px;font-weight:bold;line-height:1.1em;text-transform:uppercase;font-family: pfdintextcondproregular;}
h4{color:#252525;font-size:14px;font-weight:bold;line-height:1.1em;text-transform:uppercase;font-family: pfdintextcondproregular;}

.zag1{color:#000000;font-size:22px;line-height:1.4em;}
.zag2{color:#000000;font-size:18px;line-height:1.4em;}
.zag3{color:#000000;font-size:16px;line-height:1.4em;}
.zag4{color:#000000;font-size:15px;line-height:1.4em;}

.text1{color:#a2a470;font-size:22px;line-height:1.4em;}
.text2{color:#a2a470;font-size:18px;line-height:1.4em;}
.text3{color:#a2a470;font-size:14px;line-height:1.4em;}
.text4{color:#7d7d7d;font-size:13px;line-height:1.4em;}

.txt_min1{font-size:13px;line-height:1.4em;font-family: pfdintextcondproregular;}
.txt_min2{font-size:12px;line-height:1.4em;font-family: pfdintextcondproregular;}
.txt_min3{font-size:11px;line-height:1.4em;font-family: pfdintextcondproregular;}
.txt_max1{font-size:21px;line-height:1.4em;font-family: pfdintextcondproregular;}
.txt_max2{font-size:18px;line-height:1.4em;font-family: pfdintextcondproregular;}
.txt_max3{font-size:17px;line-height:1.4em;font-family: pfdintextcondproregular;}

.img1{border:1px solid #d1d1d1;}
.img2{border:1px solid #dfd1ae;}
.img3{background-color:#f4e9cd;margin:0px 10px 0px 0px;padding:5px;border:1px solid #d1d1d1;}
.img4{margin:0px 10px 0px 0px;border:1px solid #bdbdbd;-webkit-box-shadow:7px 7px 25px 0px rgba(50, 50, 50, 0.50);-moz-box-shadow:7px 7px 25px 0px rgba(50, 50, 50, 0.50);box-shadow:4px 4px 5px 0px rgba(123, 123, 123, 0.50);}
.img5{background-color:#ffffff;margin:0px 10px 0px 0px;padding:5px;border:1px solid #d1d1d1;}
table.table1{border-collapse:collapse;}
table.table1 thead{text-align:center;padding:5px;background:#f1e6c8;border:1px solid #d3d2d2;}
table.table1 td{vertical-align:top;padding:5px;border:1px solid #d3d2d2;}

table.table2{border-collapse:collapse;}
table.table2 thead{text-align:center;padding:5px;}
table.table2 td{vertical-align:top;padding:5px;}


table.table3{font-size:11px;border-collapse:collapse;}
table.table3 thead{font-size:11px;text-align:center;padding:5px;background:#f1e6c8;border:1px solid #d3d2d2;}
table.table3 td{font-size:11px;vertical-align:top;padding:5px;border:1px solid #d3d2d2;}

table.table_effect{font-size:13px;border-collapse:collapse;}
table.table_effect thead{font-size:13px;text-align:center;padding:5px;border:1px solid #d3d2d2;background-repeat:repeat-x;}
table.table_effect td{font-size:13px;vertical-align:top;padding:5px;border:1px solid #d3d2d2;}
table.table_effect tbody .odd{background:#fdf6e3;}
table.table_effect tr:nth-child(2n){background:#f0f0f0;}

table.table4{border-collapse:collapse;border:2px solid #0068a9;}
table.table4 td{vertical-align:top;padding:5px;}
table.table4 td p{padding:0;margin:0;}
table.table5{border-collapse:collapse;border:4px solid #b7c5c5;}
table.table5 td{vertical-align:top;padding:5px;}

.pagedis{padding-top:15px;}
.pagedis a{color:#8d8d8d;background-color:#e3e4e5;padding:5px 9px;-moz-border-radus:3px;border-radius:3px;text-decoration:none;margin-left:3px;margin-right:3px;}
.pagedis a#act{background-color:#7f9abf;color:#fff;}
.stroka_echo{color:#115cb8;font-size:13px;min-height:40px;padding-bottom:15px;margin-top:10px;}
.stroka_echo a, .stroka_echo a:visited{color:#115cb8;font-size:13px;}
.stroka_echo a:hover{color:#00397f;}
.stroka_echo #img{padding-left:4px;padding-right:4px;padding-top:0px;width:7px;}

.zag_mod{color:#252525;font-size:24px;padding-bottom:10px;padding-top:10px;}
